In [12]:
import numpy as np
import pandas as pd
from collections import defaultdict
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
df.head(20)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
5,6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
6,7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
8,9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
10,11,I am a developer by profession,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
11,12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
12,13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
13,14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
14,15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
15,16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
18,19,I am a developer by profession,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
19,20,I am a developer by profession,Yes,40.0,18,NaN,NaN,NaN,Spain,European Euro,...,Easy,Too short,No,"Another engineering discipline (such as civil,...",Spring,Angular.js;Spring,Just as welcome now as I felt last year,50.0,22,17

In [8]:
df2 = pd.read_csv('./survey_results_schema.csv')
list(df2[df2.Column == 'MainBranch']['QuestionText'])

['Which of the following options best describes you today? Here, by "developer" we mean "someone who writes code."']

In [10]:
df['MainBranch'].unique()

array(['I am a developer by profession', 'I code primarily as a hobby',
       'I used to be a developer by profession, but no longer am',
       'I am not primarily a developer, but I write code sometimes as part of my work',
       'I am a student who is learning to code', nan], dtype=object)

In [11]:
df2 = pd.read_csv('./survey_results_schema.csv')
list(df2[df2.Column == 'Hobbyist']['QuestionText'])

['Do you code as a hobby?']

In [13]:
df['Country'].unique()

array(['Germany', 'United Kingdom', 'Russian Federation', 'Albania',
       'United States', 'India', 'Tunisia', 'Spain', 'Netherlands',
       'France', 'Belgium', 'Portugal', 'Canada', 'China', 'Ukraine',
       'Italy', 'Brazil', 'Austria', 'Mexico', 'Sweden', 'Poland',
       'Indonesia', 'Greece', 'Israel', 'Czech Republic',
       'Bosnia and Herzegovina', 'Bulgaria', 'Serbia', 'Switzerland',
       'Hungary', 'Nepal', 'Slovenia', 'Uruguay', 'Denmark', 'Pakistan',
       'Taiwan', 'Romania', 'Finland', 'Costa Rica', 'Nigeria', 'Chile',
       'Turkey', 'Panama', 'Ireland', 'Estonia', 'Philippines',
       'Australia', 'Nomadic', 'Peru', 'Cyprus', 'Sri Lanka', 'Kenya',
       'Norway', 'Kyrgyzstan', 'Iran', 'Croatia', 'Egypt', 'Argentina',
       'Ghana', 'Latvia', 'Morocco', 'Bangladesh', 'Ecuador', 'Haiti',
       'Venezuela, Bolivarian Republic of...', 'Colombia', 'Lithuania',
       'El Salvador', 'Honduras', 'Ethiopia', 'Lebanon', 'Uganda',
       'Algeria', 'Viet Nam', 'Guatemala', 'Syrian Arab Republic',
       'Afghanistan', 'Slovakia', 'United Arab Emirates', 'Belarus',
       'Sudan', 'South Africa', 'Jordan', 'Georgia',
       'United Republic of Tanzania', 'Antigua and Barbuda',
       'Saudi Arabia', 'New Zealand', 'Kuwait', 'Armenia',
       'Republic of Moldova', 'Cuba', 'Luxembourg', 'Singapore',
       'Azerbaijan', 'Dominican Republic', 'Iceland', 'Isle of Man',
       'Uzbekistan', 'Trinidad and Tobago', 'Senegal', 'Andorra',
       'Turkmenistan', 'Hong Kong (S.A.R.)', 'Benin', 'Bolivia',
       'Republic of Korea', 'Japan', 'Malta', 'Iraq', 'South Korea',
       'Paraguay', 'Malaysia', 'Thailand', 'Myanmar', 'Kazakhstan',
       'Cambodia', 'Jamaica', 'Nicaragua', 'Maldives',
       'Democratic Republic of the Congo', 'Papua New Guinea', 'Oman',
       'The former Yugoslav Republic of Macedonia', 'Malawi', 'Qatar',
       'Madagascar', 'Botswana', 'Angola', 'Montenegro', 'Yemen',
       'Mongolia', 'Kosovo', 'Zambia', 'Zimbabwe',
       'Libyan Arab Jamahiriya', 'Mozambique', 'Somalia', 'Eritrea',
       'Namibia', 'Rwanda', 'Burkina Faso', 'Congo, Republic of the...',
       'Swaziland', 'Bhutan', 'Cameroon', 'Bahrain', "Côte d'Ivoire",
       'Sierra Leone', 'Togo', 'Niger', 'Barbados', 'Belize',
       'Saint Vincent and the Grenadines',
       "Lao People's Democratic Republic", 'Tajikistan', 'Mauritius',
       'Guinea', 'Brunei Darussalam', 'Bahamas', 'Mauritania',
       'Saint Lucia', 'Djibouti', 'San Marino', 'Lesotho', 'Nauru', nan,
       'Burundi', 'Fiji', 'Kiribati', 'Grenada', 'Chad', 'Mali', 'Guyana',
       'Micronesia, Federated States of...', 'Gambia', 'North Korea',
       'Liechtenstein', 'Monaco', 'Timor-Leste', 'Solomon Islands',
       'Cape Verde', 'Gabon', 'Marshall Islands'], dtype=object)

In [17]:
df[df['Country']='Greece'].count()

Respondent            390
MainBranch            389
Hobbyist              390
Age                   307
Age1stCode            355
                     ...
WebframeWorkedWith    259
WelcomeChange         334
WorkWeekHrs           258
YearsCode             357
YearsCodePro          278
Length: 61, dtype: int64

In [18]:
df[df['Country']=='Germany'].count()

Respondent            3890
MainBranch            3880
Hobbyist              3890
Age                   3086
Age1stCode            3676
                      ...
WebframeWorkedWith    2457
WelcomeChange         3440
WorkWeekHrs           2708
YearsCode             3655
YearsCodePro          2932
Length: 61, dtype: int64

In [20]:
df['UndergradMajor'].unique()

array(['Computer science, computer engineering, or software engineering',
       nan, 'Mathematics or statistics',
       'Another engineering discipline (such as civil, electrical, mechanical, etc.)',
       'A humanities discipline (such as literature, history, philosophy, etc.)',
       'A health science (such as nursing, pharmacy, radiology, etc.)',
       'Information systems, information technology, or system administration',
       'Web development or web design',
       'A natural science (such as biology, chemistry, physics, etc.)',
       'Fine arts or performing arts (such as graphic design, music, studio art, etc.)',
       'I never declared a major',
       'A social science (such as anthropology, psychology, political science, etc.)',
       'A business discipline (such as accounting, finance, marketing, etc.)'],
      dtype=object)

In [24]:
df['UndergradMajor'].value_counts()/len(df['UndergradMajor'])*100

Computer science, computer engineering, or software engineering                   48.993965
Another engineering discipline (such as civil, electrical, mechanical, etc.)       7.375002
Information systems, information technology, or system administration              6.315447
A natural science (such as biology, chemistry, physics, etc.)                      3.420673
Mathematics or statistics                                                          2.868401
Web development or web design                                                      2.775322
A business discipline (such as accounting, finance, marketing, etc.)               2.133073
A humanities discipline (such as literature, history, philosophy, etc.)            1.562185
A social science (such as anthropology, psychology, political science, etc.)       1.447387
Fine arts or performing arts (such as graphic design, music, studio art, etc.)     1.124711
I never declared a major                                                           0.702751
A health science (such as nursing, pharmacy, radiology, etc.)                      0.390934
Name: UndergradMajor, dtype: float64

In [34]:
df[df['Gender']=='Man']['UndergradMajor'].value_counts()/len(df[df['Gender']=='Man']['UndergradMajor'])*100

Computer science, computer engineering, or software engineering                   54.784517
Another engineering discipline (such as civil, electrical, mechanical, etc.)       8.332428
Information systems, information technology, or system administration              6.854585
A natural science (such as biology, chemistry, physics, etc.)                      3.718514
Mathematics or statistics                                                          3.099124
Web development or web design                                                      2.749223
A business discipline (such as accounting, finance, marketing, etc.)               2.318910
A humanities discipline (such as literature, history, philosophy, etc.)            1.475670
A social science (such as anthropology, psychology, political science, etc.)       1.377871
Fine arts or performing arts (such as graphic design, music, studio art, etc.)     1.077956
I never declared a major                                                           0.773694
A health science (such as nursing, pharmacy, radiology, etc.)                      0.389020
Name: UndergradMajor, dtype: float64

In [35]:
df[df['Gender']=='Woman']['UndergradMajor'].value_counts()/len(df[df['Gender']=='Woman']['UndergradMajor'])*100

Computer science, computer engineering, or software engineering                   46.826223
Information systems, information technology, or system administration              6.633715
A natural science (such as biology, chemistry, physics, etc.)                      6.035380
Another engineering discipline (such as civil, electrical, mechanical, etc.)       5.775234
A humanities discipline (such as literature, history, philosophy, etc.)            5.072841
A social science (such as anthropology, psychology, political science, etc.)       4.318418
Mathematics or statistics                                                          4.136316
Web development or web design                                                      3.277836
Fine arts or performing arts (such as graphic design, music, studio art, etc.)     2.913632
A business discipline (such as accounting, finance, marketing, etc.)               2.497399
A health science (such as nursing, pharmacy, radiology, etc.)                      1.118626
I never declared a major                                                           0.728408
Name: UndergradMajor, dtype: float64